Sentinel/Playbooks/get-ado-audit.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "get-adoaudit",
            "type":  "string"
        }
    },
    "variables":  {
        "AzureloganalyticsdatacollectorConnectionName":  "[concat('Azureloganalyticsdatacollector-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Week",
                                "interval":  3
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Week",
                                "interval":  3
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Compose":  {
                            "runAfter":  {
                                "For_each":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Compose",
                            "inputs":  "@variables('Results')"
                        },
                        "For_each":  {
                            "foreach":  "@body('Parse_JSON')?['decoratedAuditLogEntries']",
                            "actions":  {
                                "Append_to_array_variable":  {
                                    "runAfter":  {
                                    },
                                    "type":  "AppendToArrayVariable",
                                    "inputs":  {
                                        "name":  "Results",
                                        "value":  {
                                            "Action":  "@{items('For_each')?['actionId']}",
                                            "Actor UPN":  "@{items('For_each')?['actorUPN']}",
                                            "Auth mechanism":  "@{items('For_each')?['authenticationMechanism']}",
                                            "Details":  "@{items('For_each')?['details']}",
                                            "TimeGenerated":  "@items('For_each')?['timestamp']",
                                            "ip":  "@{items('For_each')?['ipAddress']}",
                                            "user agent":  "@{items('For_each')?['userAgent']}"
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Parse_JSON":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        },
                        "HTTP":  {
                            "runAfter":  {
                                "Initialize_variable":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Http",
                            "inputs":  {
                                "authentication":  {
                                    "audience":  "499b84ac-1321-427f-aa17-267ca6975798",
                                    "type":  "ManagedServiceIdentity"
                                },
                                "headers":  {
                                    "content-Type":  "application/json"
                                },
                                "method":  "GET",
                                "uri":  "https://auditservice.dev.azure.com/contosopdarveau/_apis/audit/auditlog?api-version=7.0-preview.1"
                            }
                        },
                        "Initialize_variable":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "Results",
                                        "type":  "array",
                                        "value":  [
                                        ]
                                    }
                                ]
                            }
                        },
                        "Parse_JSON":  {
                            "runAfter":  {
                                "HTTP":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ParseJson",
                            "inputs":  {
                                "content":  "@body('HTTP')",
                                "schema":  {
                                    "properties":  {
                                        "continuationToken":  {
                                            "type":  "string"
                                        },
                                        "decoratedAuditLogEntries":  {
                                            "items":  {
                                                "properties":  {
                                                    "actionId":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "activityId":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorCUID":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorClientId":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorDisplayName":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorImageUrl":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorUPN":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "actorUserId":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "area":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "authenticationMechanism":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "category":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "categoryDisplayName":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "correlationId":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "data":  {
                                                        "properties":  {
                                                            "Filter":  {
                                                                "properties":  {
                                                                    "BatchSize":  {
                                                                        "type":  "integer"
                                                                    },
                                                                    "ContinuationToken":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "EndTime":  {
                                                                        "type":  "string"
                                                                    },
                                                                    "HasMore":  {
                                                                        "type":  "boolean"
                                                                    },
                                                                    "StartTime":  {
                                                                        "type":  "string"
                                                                    }
                                                                },
                                                                "type":  "object"
                                                            },
                                                            "Format":  {
                                                                "type":  "string"
                                                            }
                                                        },
                                                        "type":  "object"
                                                    },
                                                    "details":  {
                                                        "type":  "string"
                                                    },
                                                    "id":  {
                                                        "type":  "string"
                                                    },
                                                    "ipAddress":  {
                                                        "type":  [
                                                            "string",
                                                            "null"
                                                        ]
                                                    },
                                                    "projectId":  {
                                                        "type":  "string"
                                                    },
                                                    "projectName":  {
                                                    },
                                                    "scopeDisplayName":  {
                                                        "type":  "string"
                                                    },
                                                    "scopeId":  {
                                                        "type":  "string"
                                                    },
                                                    "scopeType":  {
                                                        "type":  "string"
                                                    },
                                                    "timestamp":  {
                                                        "type":  "string"
                                                    },
                                                    "userAgent":  {
                                                        "type":  "string"
                                                    }
                                                },
                                                "required":  [
                                                    "id",
                                                    "correlationId",
                                                    "activityId",
                                                    "actorCUID",
                                                    "actorUserId",
                                                    "actorClientId",
                                                    "actorUPN",
                                                    "authenticationMechanism",
                                                    "timestamp",
                                                    "scopeType",
                                                    "scopeDisplayName",
                                                    "scopeId",
                                                    "projectId",
                                                    "projectName",
                                                    "ipAddress",
                                                    "userAgent",
                                                    "actionId",
                                                    "data",
                                                    "details",
                                                    "area",
                                                    "category",
                                                    "categoryDisplayName",
                                                    "actorDisplayName",
                                                    "actorImageUrl"
                                                ],
                                                "type":  "object"
                                            },
                                            "type":  "array"
                                        },
                                        "hasMore":  {
                                            "type":  "boolean"
                                        }
                                    },
                                    "type":  "object"
                                }
                            }
                        },
                        "Send_Data":  {
                            "runAfter":  {
                                "Compose":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@{outputs('Compose')}",
                                "headers":  {
                                    "Log-Type":  "test"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/api/logs"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azureloganalyticsdatacollector":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]",
                                "connectionName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "tags":  {
                "hidden-SentinelTemplateName":  "get-adoaudit",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('AzureloganalyticsdatacollectorConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('AzureloganalyticsdatacollectorConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azureloganalyticsdatacollector')]"
                }
            }
        }
    ]
}
